{% extends "base.html" %}
{% block title %}Пост {{ post|truncatechars:5 }}{% endblock %}
{% block header %}Запись {{ author.username }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include "includes/author_card.html" %}
        </div>
        <div class="col-md-9">
            <!-- Пост -->
            {% include "includes/author_post.html" %}
            {% include "includes/comments.html" %}
        </div>
    </div>
</main>
{% endblock %}